body {
	margin: 0;
	font-family:"Arial", sans-serif;
	color: #F5EBDF;
	
}


#map{
    height: 100%;
    width: 100%;
    float:left;
}
#auxBarList{
    height:75%;
    width:1%;
    background-color:#2E76DB;
    float:left;
    cursor:pointer;
    position:absolute;
    z-index:1;
}
#auxBarList:hover{
    width:2%;
}
#barList{
    height: 75%;
    width: 25%;
    display:none;
    background-color:#2E76DB; 
    position:absolute;
    z-index:1;
}

#barList span{
    font-weight:bold;
}

#barInfo{
    height: 75%;
    width: 25%;
    display:none;
    background-color:#2E76DB; 
    position:absolute;
    z-index:1;
    text-align: center;
}
.miniIcon{    
    height:1.5em;
}

#BIprices div{
    margin:2.5px;
    width:100px;
    display:inline-block;
}



#barAlbum{
    margin-top:10px;
    background-color:#095FD7;
    
}
#carrusel{     
       width: 80%;
       margin: 0 auto;
}
#carrusel div{
    margin-left: 5px;
}

.barImg{
    margin-top:10px;
    height:80px;
}

.hidable{
    position:absolute;
    width:auto;
    height:auto;
    z-index:3;
    background-color:#2E76DB;
    text-align: center;
    display:none;
}

#addImage{
    padding:20px;
}
#id_bar_id{display:none}

#background{
    position:absolute;
    background-color: rgba(180,180,180,0.5);
    color: transparent;
    z-index:2;
    width:100%;
    height:100%; 

}


#loading{
    position:absolute;
    z-index:3;
    left:0;
    width:200px;
    height:200px;
}
#addBar{
    height: 300px;
    width: 300px; 
    float:left;
    margin:10px;
}

#minimap{
    height: 300px;
    width: 300px;  
    float:left;  
    margin:10px;
    display:none;
}
.moneyIn {
   width: 60px;
}
.latlngIn {
   width: 100px;
}

#addIcon{
    position:absolute;
    top:10px;
    cursor:pointer;
    z-index:1;
}
#cameraIcon{
    cursor:pointer;
}

#beerIcon{
    position:absolute;
    top:10px;
    cursor:pointer;
    z-index:1;
}
#plateIcon{
    position:absolute;
    top:10px;
    cursor:pointer;
    z-index:1;
}

#authentication{
    position:absolute;
    z-index:1;
    background-color: rgba(55,55,55,0.2);
    padding:10px;
    width: auto;
    

}
#id_username,#id_password{
    width:100px;
}
footer{
    position:absolute;
    top:96%;
    z-index:1;
    color: #50503E;
    font-size: 0.8em;
 
}



#selectable { 
    list-style-type: none;
    position:relative;
    top:40px;
    margin: 10px; 
    padding: 0;
    width: auto;
}

#selectable li { 
    margin: 3px; 
    padding: 0.4em; 
    height: auto; 
    cursor:pointer;
    color: black;
 
}

#selectable li:hover {
    background-color: #C1CEE1;
}

.barli{
   background-color: #F5EBDF;
}

.selectedLi{
    background-color:#C1CEE1;
}
.variable-width{
    width:100px;
    height:100px;
}

#addImage{
    margin-top:20px;
}

