body {
	margin: 0;
	font-family:"Verdana", sans-serif;
	background-color: D5D2D0;
}

#map{
    height: 100%;
    width: 99%;
    float:left;
}
#auxBarList{
    height:100%;
    width:1%;
    background-color:#C45E0B;
    float:left;
    cursor:pointer;
    -webkit-border-radius: 0px 15px 15px 0px;
    border-radius: 0px 15px 15px 0px;
}
#barList{
    height: 100%;
    width: 25%;
    float:left;
    display:none;
    background-color:#C45E0B;
    -webkit-border-radius: 0px 15px 15px 0px;
    border-radius: 0px 15px 15px 0px;
}
#barList span{
    font-weight:bold;
}
#barInfo{
    display:none;
    height: 100%;
    width: 25%;
    background-color:#C45E0B;
    float:left;
    text-align: center;
    z-index:2;
}
#addBar{
    display:none;
    height: auto;
    width: 250px;
    background:white;
    float:left;
    text-align: center;
    border: medium solid black;
}
#minimap{
    height: 250px;
    width: 250px;    
}
.moneyIn {
   width: 60px;
}
.latlngIn {
   width: 100px;
}

#beerIcon{
    position:absolute;
    top:10px;
    cursor:pointer;
    z-index:1;
}
#plateIcon{
    position:absolute;
    top:10px;
    cursor:pointer;
    z-index:1;
}

#authentication{
    position:absolute;
    left:80%;
    z-index:1;
    background-color: rgba(55,55,55,0.2);
    padding: 10px;

}

footer{
    position:absolute;
    top:95%;
    left:2%;
    z-index:1;
    color: #50503E;
}
