body {
	margin: 0;
}
*{
    font-family:"Arial", sans-serif !important;
	color: #F5EBDF;
}
.panel{
    background-color:#2E76DB !important; 
    height:100%;
    overflow-y:auto;
}

#map{
    height: 100%;
    width: 100%;
    position:absolute;

}
#barList span{
    font-weight:bold;
    color: black;
    float:right;
}

#authentication{
    z-index:1003;
	text-align: center;
}
#authentication form{
    top:60px;
    position:relative;
}
#id_username,#id_password{
    width:100px;
}
#barInfo{
    background-color:#2E76DB; 
    z-index:1003;
    text-align: center;
}
.miniIcon{    
    height:1.5em;
}
.BIprices div{
    margin:2.5px;
    width:50px;
    display:inline-block;
}
#addBarPage .BIprices div{
	vertical-align:middle;
}
#BIpr2{
	display: none;
}
#barInfoHeader{
    height:30px;
}
#barInfoHeader a{
    float:right;
}
#barInfoFooter a{
    float:right;
    margin-right: 15px;
	margin-top:0px;
}
#barInfoFooter .ui-icon-comment{
    margin-left:15px; 
    float:left;
}
#chBarForm a{
	margin: 0 auto;
	margin-top:15px;
}
.tapaCheckbox{
	width: auto;
}
.tapaCheckbox img{
	float: left;
}
.tapaCheckbox input{

	position: absolute;
	left: 25px;
	top: -12px;
}
#barAlbum{
    margin-top:10px;
    background-color:#095FD7;
    overflow:hidden;   
}
#carrousel{     
       width: 80%;
       margin: 0 auto;
}
#carrousel div{
    margin-left: 5px;
}

.barImg{
    margin-top:10px;
    height:80px;
}
#oneComnt{
    background-color:#2E76DB; 
    max-height:100px;
    text-align:left;
    padding:0 20px 0 20px;
    font-size:0.90em;

    overflow-y:auto;
}
#oneComnt p{

    font-style: italic;
}
#openComnts{
    width: 50px;
}

.author{
    border-bottom: 1px dotted #072957;
    color: #072957;
    font-weight:bold;

}
.date{
    color:gray;
    font-size:0.75em;
    color: #c0b9ab;
    display: block;
    float: right;
}
.hidable{
    position:fixed;
    width:auto;
    height:auto;
    z-index:3;
    background-color:#2E76DB;
    text-align: center;
    display:none;
}
#id_bar_id{
	display:none
}
#background{
    position:absolute;
    background-color: rgba(180,180,180,0.5);
    color: transparent;
    z-index:2;
    width:100%;
    height:100%; 

}


#loading{
    position:absolute;
    z-index:3;
    left:0;
    width:200px;
    height:200px;
}

#addBarPage{
    width:100%;
    height:90%;
    text-align:center;
    z-index:1003;
    background-color:#2E76DB; 
    overflow:auto;
}
#addBarForm{
    padding-top:20px;
    width:90%;
    margin:0 auto;
}
#addBarFormltlg{
    display:none;
}
#popupInfo{
    background-color:#9AC3FE;
    max-height:200px;
    overflow-y:auto;
    overflow-x:hidden;
}

#minimap{
    height: 25%; 
    width: 80%;
    margin:10px auto;
}
.moneyIn {
   width: 30px;
}
.latlngIn {
   width: 100px;
}



#beerIcon{
    position:absolute;
    top:10px;
    left:80px;
    z-index:1002;
}
#plateIcon{
    position:absolute;
    left:125px;
    top:10px;
    z-index:1002;
}

.backIconl{
    float:right;
}
.backIconr{
    float:left;
}

#listIcon{
    position:absolute;
    top:10px;
    left:5px;  
    z-index:1; 
}

#logIcon{
    position:absolute;
    top:10px;
    z-index:1;
}
#addIcon{
    position:absolute;
    top:10px;
    z-index:1;
}

.jqmIcon{
    background:#2E76DB !important;
}

footer{
    margin: 0 auto;
    z-index:1004;
    color: #50503E;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
}



#selectable { 
    list-style-type: none;
    position:absolute;
    margin:0 auto;
    padding:0;
    top:60px;
    width: 90%;
    height: 75%;
    overflow-y:auto;
    overflow-x:hidden;
}

#selectable li { 
    margin: 3px; 
    padding: 0.4em; 
    height: auto; 
    cursor:pointer;
    color: black;

 
}

#selectable li:hover {
    background-color: #C1CEE1;
}

.barli{
   background-color: #F5EBDF;
}

.selectedLi{
    background-color:#C1CEE1;
}
.variable-width{
    width:100px;
    height:100px;
}

.clickable{
    cursor:pointer;
}



#comntPage{
    width:100%;
    height:80%;
    text-align:left;
    z-index:1003;
    background-color:#2E76DB; 
    overflow-y: auto;
    overflow-x: hidden;
}
#Comments{
    padding:20px;
    height:60%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
}
#writeCmnt{
    height:25%;    
    margin-top:20px;
    text-align:center;
}
#textComnt{
    width:95%;
    height:100%;
    margin:0 auto;
    bottom:0;
    padding:0;
    resize:none;
    max-height:90%;
    overflow-y: auto;
    overflow-x: hidden;
}
.headerBack{
    float: left;
    margin-left:10px;
}
.pageHeader{
    background-color: #0546A1 !important;
    color: #F5EBDF !important;
}
.headerFw{
    float: right;
    margin-right:10px;
}


.deleteComnt{
    margin-left:10px;
    color: #c0b9ab;
    font-size: 0.75em;
    float:right;
}
#deleteComntDialog, #addImage{
    z-index:1007;
	background-color: #3489FF;
}



hr{ border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3); }


/*for the rate stars, to make them big*/

div.bigstars div.rateit-range
{
    background: url(/static/images/star-white32.png);
    height: 32px;
}
 
div.bigstars div.rateit-hover
{
    background: url(/static/images/star-gold32.png);
    cursor:pointer;
}
 
div.bigstars div.rateit-selected
{
    background: url(/static/images/star-gold32.png);
}
 
div.bigstars div.rateit-reset
{
    background: url(/static/images/star-black32.png);
    width: 32px;
    height: 32px;
}
 
div.bigstars div.rateit-reset:hover
{
    background: url(/static/images/star-white32.png);
}


textarea{
    resize: none !important;
    font-size:1.2em !important;
    border-radius: 0 !important;
    
}
input{
    border-radius: 0px !important;
}
#logoutUser{
	background: red;
}

#loginGoogle{
	background: green;
	float:left;
}

