<html>
    <head>
        <link rel="stylesheet" type="text/css"   href='/static/css/style_base.css' />
        <link rel="stylesheet" type="text/css"   href="/static/js/leaflet-0.7.3/leaflet.css" />
        <script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="/static/js/leaflet-0.7.3/leaflet.js"></script>
        <script type="text/javascript" src="/static/js/bares.js"></script>
        <script type="text/javascript" src="/static/js/underscore.js"></script>
        <script type="text/javascript" src="/static/js/jquery-validation-1.13.1/dist/jquery.validate.js"></script>
    </head>
 
    <body>   
    <div id="authentication">
    {% if user_name %}
	        <p>{{user_name}} <a href = '/logout'> Salir </a> </p>
    {% else %} 
        <p>
          <form method="post" action="/login"> {% csrf_token %}
            <a>Nombre {{ login_form.username }}</a>
            <a>Contraseña {{ login_form.password }}</a>
            <input type="submit" value="entrar" />
          </form></a>
        </p>
    {% endif %}
    </div>
    
    
    
    
    
      
    <div id="barList"><ul></ul></div>
    <img src="/static/images/beer_glass.png" alt="Caña" id="beerIcon">
    <img src="/static/images/plate_false.png" alt="Tapa" id="plateIcon">
    <div id="map"></div>
    <div id="barInfo"></div>
    <div id="addBar">
         <span id="streetForm"></span>
         <form method="post" id="addBarForm">
              <div class="ui-field-contain">
                <label for="nameForm">Nombre del bar:</label>
                <input type="text" name="nameForm" id="nameForm">

                <label for="priceForm">Caña(€):</label>
                <input type="number" step="0.05" class="moneyIn" min="0" name="priceForm" id="priceForm"><br>
                
                <label for="priceForm">Litro(€):</label>
                <input type="number" step="0.05" class="moneyIn" min="0" name="litreForm" id="litreForm"><br>
                
                <input type="checkbox" id="tapaForm" name="tapaForm">Ponen tapa<br>
                
                <label for="latForm">Latitud:</label>
                <input type="number"  name="latForm" class="latlngIn" id="latForm" readonly='readonly'><br>
                
                <label for="lonForm">Longitud:</label>
                <input type="number"  name="lonForm" class="latlngIn" id="lonForm" readonly='readonly'><br>
                <input type="submit" value="Enviar"/>
              </div>
        </form>
        <div id="minimap"></div>
    </div>
    

    
    
    
    <footer id="footer"><hr>Alejando G-G Pérez © 2014 </footer>	
</html>
